*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  transition: 0.3s;
}

input[type=reset], input[type=submit], input[type=button], button {
  cursor: pointer;
  border-radius: 0;
  background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

a {
  transition: 0.3s;
  color: inherit;
  font-family: inherit;
}

.wrapper{
  width: 1370px;
  margin: auto;
}
.jsCalendar-title-name{
  display: none;
}
.jsCalendar-previous{
  font-size: 0;
}
.jsCalendar-next{
  display: none;
}

.lSAction{
  display: none!important;
}
.lSPager{
  margin-top: 25px!important;
}
.lSSlideOuter .lSPager.lSpg>li>a{
  width: 10px;
  height: 10px;
  background-color: #c7cbcf;
}

.lSSlideOuter .lSPager.lSpg>li.active>a{
  background-color: #1e5c97;
}

body{
  &.wide-page{
    div.wrapper{
      width: 100%;
    }
    section.photovideo{
      .wrapper{
        .playlist{
          width: calc(100% - 940px);
        }
      }
    }
    .pagecontent .photogallery #lightgallery a{
      margin-right: 17px!important;
    }
  }

  &.night{
    background-color: #ccc;
  }

  &.highcontrast{
    background-color: #000;
    &>header{
      nav{
        background-color: #000;
        border: 1px solid #FFF;
        ul{
          li{
            border-color: #FFFFFF;
          }
        }
      }
    }
    a, li, h1, h2, h3, h4, h5, h6, label, time, p, div{
      color: #FFFFFF!important;
    }
    main div#mainCarousel::before, main div#mainCarousel::after{
      background-color: #FFFFFF;
    }
    main div div div article, footer div div.bot, main section.photovideo .wrapper .links a, main section.photovideo .wrapper .links a.video{
      background-color: #000;
      color: #FFFFFF;
    }
    footer div.partners, footer div.mid > header, footer div div.body, main section.photovideo .wrapper .playlist ul li, main section.breadcrumbs, li, main section.camps .cont a, main section.programs .cont a{
      background-color: #000000!important;
      border: 1px solid #FFF;
      color: #FFFFFF;
    }
    &>header nav div ul li ul{
      background-color: #000000!important;
      border: 1px solid #FFF;
      color: #FFFFFF;
    }
  }

  &.highcontrast2{
    background-color: #000;
    &>header{
      nav{
        background-color: #000;
        border: 1px solid #ff0;
        ul{
          li{
            border-color: #ff0;
          }
        }
      }
    }
    a, li, h1, h2, h3, h4, h5, h6, label, time, p, div{
      color: #FFFFFF!important;
    }
    main div#mainCarousel::before, main div#mainCarousel::after{
      background-color: #FFFFFF;
    }
    main div div div article, footer div div.bot, main section.photovideo .wrapper .links a, main section.photovideo .wrapper .links a.video{
      background-color: #000;
      color: #FFFFFF;
    }
    footer div.partners, footer div.mid > header, footer div div.body, main section.photovideo .wrapper .playlist ul li, main section.breadcrumbs, li, main section.camps .cont a, main section.programs .cont a, main section.contact #map2{
      background-color: #000000!important;
      border: 1px solid #ff0;
      color: #FFFFFF;
    }
    &>header nav div ul li ul{
      background-color: #000000!important;
      border: 1px solid #ff0;
      color: #FFFFFF;
    }
  }

  &.highcontrast3{
    background-color: #ff0;
    &>header{
      nav{
        background-color: #ff0;
        border: 1px solid #000;
        ul{
          li{
            border-color: #000;
          }
        }
      }
    }
    a, li, h1, h2, h3, h4, h5, h6, label, time, p, div{
      color: #000!important;
    }
    main div#mainCarousel::before, main div#mainCarousel::after{
      background-color: #ff0;
    }
    main div div div article, footer div div.bot, main section.photovideo .wrapper .links a, main section.photovideo .wrapper .links a.video{
      background-color: #ff0;
      color: #FFFFFF;
    }
    footer div.partners, footer div.mid > header, footer div div.body, main section.photovideo .wrapper .playlist ul li, main section.breadcrumbs, li, main section.camps .cont a, main section.programs .cont a, main section.contact #map2{
      background-color: #ff0!important;
      border: 1px solid #000000;
      color: #FFFFFF;
    }
    &>header nav div ul li ul{
      background-color: #ff0!important;
      border: 1px solid #000;
      color: #FFFFFF;
    }
  }

  &>header{
    padding-bottom: 14px;
    &::before{
      content: '';
      width: 100%;
      height: 15px;
      background-color: #dae5ee;
      display: block;
    }
    div{
      &.wrapper{

      }
      div{
        &.top{
          padding-top: 10px;
          display: flex;
          justify-content: flex-end;
        }
        &.mid{
          display: flex;
          justify-content: space-between;
        }
        div{
          &.shshm{
            display: flex;
            color: #999999;
            font-family: "Roboto _ GEO Mt";
            font-size: 12px;
            font-weight: bold;
            margin-right: 20px;
          }
          &.lang{
            a{
              display: inline-flex;
              align-items: center;
              color: #bcbcbc;
              font-family: "BPG Nateli Mtavruli";
              font-size: 14px;
              font-weight: bold;
              text-transform: uppercase;
              &:first-child{
                margin-right: 10px;
              }
              &.active, &:hover{
                img{
                  filter: grayscale(0);
                }
              }
              img{
                margin-right: 7px;
                filter: grayscale(100%);
              }
            }
          }
          div{
            display: flex;
            align-items: center;
            margin-right: 13.5px;
            &.contrast{

            }
            &.layout{

            }
            &.font{

            }
            ul{
              margin-left: 3.5px;
              display: flex;
              align-items: center;
              li{
                width: 25px;
                height: 25px;
                border-radius: 2px;
                border: 1px solid #cccccc;
                background-color: #ffffff;
                margin: 0 3.5px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                img{
                  max-width: 15px;
                }
                &#contrast1{

                }
                &#contrast2{

                }
                &#contrast3{
                  background-color: #000000;
                }
                &#contrast4{
                  background-color: #000000;
                }
                &#contrast5{
                  background-color: #ffff00;
                }
                &#scale{

                }
                &#shrink{

                }
                &#increase{

                }
                &#normal{

                }
                &#decrease{

                }
              }
            }
          }
          a{
          }
        }
        a{
          &.logo{

          }
          img{
          }
        }
        form{
          margin-top: 30px;
          position: relative;
          input{
            width: 283px;
            height: 43px;
            border-radius: 22px;
            border: 1px solid #c8d8e4;
            color: #cccccc;
            font-family: "Roboto _ GEO Mt";
            font-size: 15px;
            font-weight: bold;
            padding: 0 25px;
            &::placeholder{
              color: #cccccc;
            }
          }
          button{
            width: 43px;
            height: 43px;
            position: absolute;
            top: 0;
            right: 0;
            img{
            }
          }
        }
      }
    }
    nav{
      width: 100%;
      height: 67px;
      background-color: #1e5c97;
      margin-top: 30px;
      div{
        &.wrapper{
          height: 100%;
        }
        ul{
          height: 100%;
          display: flex;
          li{
            position: relative;
            height: 100%;
            flex: 1;
            white-space: nowrap;
            border-right: 1px solid #2b78c2;
            padding: 0 20px;
            &:hover{
              ul{
                display: block;
              }
            }
            &:last-child{
              border-right: 0;
            }
            a{
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #ffffff;
              font-family: "Roboto _ GEO Mt";
              font-size: 17px;
              font-weight: bold;
            }
            ul{
              display: none;
              z-index: 2;
              position: absolute;
              height: auto;
              background-color: #2b78c2;
              padding: 10px 0;
              &::before{
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background-color: #2b78c2;
                position: absolute;
                top: -5px;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
              }
              li{
                height: 40px;
                color: #ffffff;
                font-family: "Roboto _ GEO Mt";
                font-size: 15px;
                font-weight: bold;
                border-bottom: 1px solid #3b88d3;
                &:last-child{
                  border: none;
                }
              }
            }
          }
        }
      }
    }
  }
  main{
    div{
      &#mainCarousel{
        width: 100%;
        height: 677px;
        position: relative;
        background-color: #81b5e6;
        &::before, &::after{
          content: '';
          height: 20px;
          background-color: #81b5e6;
          display: block;
        }
        .owl-stage-outer{
          height: 637px;
          .owl-stage{
            height: 100%;
          }
          .owl-item{
            height: 100%;
          }
        }
        .owl-nav{
          button{
            position: absolute;
            width: 40px;
            height: 70px;
            font-size: 0px;
            top: calc(50% - 35px);
            z-index: 2;
            &.owl-prev{
                background-image: url("../images/maincarouselprev.png");
                left: calc((100% - 1370px) / 2 + 25px);
            }
            &.owl-next{
              right: calc((100% - 1370px) / 2 + 25px);
              background-image: url("../images/maincarouselnext.png");
            }
          }

        }
      }
      div{
        &.item{
          background-repeat: no-repeat;
          background-size: cover;
          height: 100%;
        }
        div{
          &.wrapper{
            height: 100%;
            padding: 0 20px;
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }
          article{
            width: 447px;
            border-radius: 16px;
            background-color: rgba(26,95,162,0.9);
            margin-right: 115px;
            padding: 50px 40px;
            time{
              display: flex;
              align-items: center;
              justify-content: center;
              color: #70b1ef;
              font-family: "BPG Nateli Mtavruli";
              font-size: 16px;
              font-weight: bold;
              img{
                width: auto!important;
                margin-right: 10px;
              }
            }
            h2{
              margin-top: 20px;
              color: #ffffff;
              font-family: "BPG Nateli Mtavruli";
              font-size: 25px;
              font-weight: bold;
              text-align: center;
              padding-bottom: 30px;
              position: relative;
              &::after{
                content: '';
                display: block;
                width: 170px;
                height: 1px;
                background-color: #70b1ef;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            div{
              &.desc{
                margin-top: 30px;
                text-align: center;
                color: #ffffff;
                font-family: "BPG Nateli GPL & GNU";
                font-size: 17px;
                font-weight: bold;
              }
            }
            a{
              margin-top: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #ffffff;
              font-family: "BPG Nateli Mtavruli";
              font-size: 16px;
              font-weight: bold;
              img{
                width: auto!important;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
    section{
      &.breadcrumbs{
        width: 100%;
        height: 70px;
        background-color: #e3f0fc;
        .wrapper{
          padding: 0 25px;
          height: 100%;
          ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            li{
              &::after{
                content: url("../images/breadcrumbarrow.png");
                display: inline-block;
                vertical-align: middle;
                margin-left: 20px;

              }
              font-family: "Roboto _ GEO Mt";
              font-size: 16px;
              font-weight: bold;
              color: #666666;
              margin-right: 20px;
              &:last-child{
                color: #1e5c97;
                &::after{
                  display: none;
                }
              }
            }
          }
        }
      }
      &.page{
       margin-top: 50px;
        .wrapper{
          display: flex;
          aside{
            width: 335px;
            padding: 0 25px;
            ul{
              li{
                color: #666666;
                font-family: "Roboto _ GEO Mt";
                font-size: 16px;
                font-weight: bold;
                line-height: 16px;
                margin-bottom: 15px;
                &.active{
                  color: #b5b5b5;
                  &::before{
                    content: url("../images/asideactive.png");
                  }
                }
                &:last-child{
                  &::after{
                    display: none;
                  }
                }
                &::before{
                  content: url("../images/asidemenuarrow.png");
                  margin-right: 7px;
                }
                &::after{
                  content: '';
                  display: block;
                  margin-top: 15px;
                  width: 54px;
                  height: 1px;
                  background-color: #e8e8e8;
                  margin-left: 15px;
                }
              }
            }
            &.news{
              padding: 0 8px;
              &>div{
                width: 166px;
                height: 38px;
                border-radius: 10px;
                border: 1px solid #b4b4b4;
                padding: 0 15px;
                position: relative;
                margin-bottom: 15px;
                &::after{
                  content: url("../images/newsdropdown.png");
                  position: absolute;
                  right: 15px;
                  top: 50%;
                  transform: translateY(-50%);
                }
                h4{
                  color: #1e5c97;
                  font-family: "Roboto _ GEO Mt";
                  font-size: 16px;
                  font-weight: bold;
                  margin-top: 8px;
                  cursor: pointer;
                }
                ul{
                  display: none;
                }
                &.active{
                  border: none;
                  width: auto;
                  height: auto;
                  margin-bottom: 35px;
                  &::after{
                    display: none;
                  }
                  ul{
                    margin-top: 25px;
                    display: block;
                  }
                }
              }
            }
          }
          .newsinner{
            a.back{
              display: block;
              color: #cccccc;
              font-family: "Roboto _ GEO Mt";
              font-size: 16px;
              font-weight: bold;
              line-height: 42px;
              img{
                margin-right: 10px;
              }
            }
            .newscontent{
              display: flex;
              .newsgallery{
                text-align: center;
                width: 420px;
                .mainslide{
                  width: 100%;
                  height: 330px;
                  position: relative;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                  button{
                    position: absolute;
                    bottom: 25px;
                    left: 25px;
                  }
                }
              }
              #newsslider{
                margin-top: 15px;

                li{
                  width: 130px;
                  height: 105px;
                  img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position:center;
                  }
                }
              }
              a.fbshare{
                margin-top: 30px;
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                color: #333333;
                font-family: "BPG Nateli Mtavruli";
                font-size: 20px;
                font-weight: bold;
                img{
                  display: block;
                  margin-bottom: 14px;
                }
              }
              .textcontent{
                width: calc(100% - 420px);
                padding-left: 35px;
                time{
                  color: #666666;
                  font-family: "BPG Nateli Mtavruli";
                  font-size: 16px;
                  font-weight: bold;
                  img{
                    margin-right: 10px;
                  }
                }
                h2{
                  margin-top: 20px;
                  color: #333333;
                  font-family: "BPG Nateli Mtavruli";
                  font-size: 20px;
                  font-weight: bold;
                }
                .text{
                  margin-top: 25px;
                  color: #333333;
                  font-family: "BPG Nateli";
                  font-size: 16px;
                  font-weight: bold;
                  p{
                    margin-bottom: 20px;
                  }
                }
              }
            }
            section.othernews{
              margin-top: 70px;
              h2{
                color: #333333;
                font-family: "BPG Nateli Mtavruli";
                font-size: 20px;
                font-weight: bold;
                text-align: center;
              }
              .othernewscont{
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                border-top: 1px solid #d5d2d2;
                padding-top: 40px;
                .n{
                  margin-right: 45px;
                  margin-bottom: 40px;
                  width: 315px;
                  .img{
                    width: 100%;
                    height: 250px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                  }
                  &:nth-child(4n+4){
                    margin-right: 0;
                  }
                  time{
                    color: #666666;
                    font-family: "BPG Nateli Mtavruli";
                    font-size: 16px;
                    font-weight: bold;
                    margin-top: 28px;
                    display: block;
                    img{
                      vertical-align: middle;
                      margin-right: 10px;
                    }
                  }
                  h3{
                    margin-top: 20px;
                    color: #333333;
                    font-family: "BPG Nateli Mtavruli";
                    font-size: 20px;
                    font-weight: bold;
                  }
                  .desc{
                    color: #666666;
                    font-family: "BPG Nateli GPL & GNU";
                    font-size: 15px;
                    font-weight: bold;
                    margin-top: 23px;
                  }
                  a.more{
                    display: block;
                    margin-top: 30px;
                    color: #327fc9;
                    font-family: "BPG Nateli Mtavruli";
                    font-size: 16px;
                    font-weight: bold;
                    img{
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }
          .pagecontent{
            color: #333333;
            font-family: "Roboto _ GEO Nus";
            font-size: 15px;
            font-weight: bold;
            p{
              margin-bottom: 20px;
            }
            img{
              max-width: 100%;
            }
            width: calc(100% - 335px);
            .photogallery{
              padding-right: 25px;
              time{
                color: #1e5c97;
                font-family: "BPG Nateli Mtavruli";
                font-size: 12px;
                font-weight: bold;
              }
              h3{
                color: #333333;
                font-family: "BPG Nateli Mtavruli";
                font-size: 20px;
                font-weight: bold;
                margin-top: 15px;
              }
              .desc{
                margin-top: 25px;
                color: #333333;
                font-family: "BPG Nateli";
                font-size: 16px;
                font-weight: bold;
              }
              .fbshare{
                display: flex;
                align-items: center;
                margin-top: 30px;
                color: #333333;
                font-family: "BPG Nateli Mtavruli";
                font-size: 20px;
                font-weight: bold;
                img{
                  margin-right: 10px;
                }
              }
              #lightgallery{
                margin-top: 30px;
                display: flex;
                display: flex;
                flex-wrap: wrap;
                a{
                  display: block;
                  width: 325px;
                  height: 248px;
                  margin-right: 17px;
                  margin-bottom: 13px;
                  overflow: hidden;
                  &:nth-child(3n + 3){
                    margin-right: 0;
                  }
                  img{
                    width: 100%;

                  }
                }
              }
            }
            .gallery{
              display: flex;
              flex-wrap: wrap;
              .g{
                width: 335px;
                margin-right: (1025px - (335px * 3)) / 2;
                margin-bottom: 40px;
                &:last-child{
                  margin-right: 0;
                }
                .img{
                  height: 250px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                  position: relative;
                  display: flex;
                  align-items: flex-end;
                  &::after{
                    content: '';
                    width: 100%;
                    height: 85px;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: 0.76;
                    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
                  }
                  .b{
                    padding: 14px;
                    position: relative;
                    z-index: 2;
                    color: #ffffff;
                    font-family: "BPG Nateli Mtavruli";
                    font-size: 12px;
                    font-weight: bold;
                    span{
                      display: block;
                      font-size: 14px;
                      margin-top: 5px;
                    }
                  }
                }
                h3{
                  color: #333333;
                  font-family: "BPG Nateli Mtavruli";
                  font-size: 20px;
                  font-weight: bold;
                  margin-top: 18px;
                }
              }
            }
            .publicinfo{
              padding: 0 40px;
              form{
                width: 730px;
                .person{
                  input{
                    display: none;
                    &+label{
                      display: inline-block;
                      color: #999999;
                      font-family: "Roboto _ GEO Mt";
                      font-size: 16px;
                      font-weight: bold;
                      cursor: pointer;
                      &::before{
                        content: '';
                        display: inline-flex;
                        width: 46px;
                        height: 46px;
                        border-radius: 5px;
                        border: 1px solid #c8d8e4;
                        margin-right: 10px;
                        vertical-align: middle;
                      }
                    }
                    &:checked+label{
                      color: #99cc33;
                      &::before{
                        background-image: url("../images/radiocheched.png");
                        background-repeat: no-repeat;
                        background-position: center;
                      }
                    }
                    &:first-child{
                      &+label{
                        margin-right: 70px;
                      }
                    }
                  }
                }
                .inputs{
                  margin-top: 80px;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  .fc{
                    width: 316px;
                    margin-bottom: 30px;
                    input, select{
                      width: 100%;
                      height: 46px;
                      border-radius: 5px;
                      border: 1px solid #c8d8e4;
                      padding: 0 15px;
                      color: #999999;
                      font-family: "Roboto _ GEO Nus";
                      font-size: 14px;
                      font-weight: bold;
                      line-height: 38px;
                    }
                  }
                }
                label{
                  color: #262626;
                  font-family: "Roboto _ GEO Nus";
                  font-size: 14px;
                  font-weight: bold;
                  line-height: 53px;
                  display: block;
                }
                textarea{
                  display: block;
                  width: 100%;
                  height: 156px;
                  border: 1px solid #c8d8e4;
                  border-radius: 5px;
                  resize: none;
                  padding: 20px;
                }
                button{
                  margin-top: 25px;
                  display: block;
                  margin-left: auto;
                  height: 56px;
                  border-radius: 5px;
                  background-color: #1e5c97;
                  padding: 0 40px;
                  color: #ffffff;
                  font-family: "Roboto _ GEO Mt";
                  font-size: 16px;
                  font-weight: bold;
                  line-height: 42px;
                }
              }
            }
            .news{
              display: flex;
              flex-wrap: wrap;
              .n{
                margin-right: 45px;
                margin-bottom: 40px;
                width: 315px;
                .img{
                  width: 100%;
                  height: 250px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  background-position: center;
                }
                &:nth-child(3n+3){
                  margin-right: 0;
                }
                time{
                  color: #666666;
                  font-family: "BPG Nateli Mtavruli";
                  font-size: 16px;
                  font-weight: bold;
                  margin-top: 28px;
                  display: block;
                  img{
                    vertical-align: middle;
                    margin-right: 10px;
                  }
                }
                h3{
                  margin-top: 20px;
                  color: #333333;
                  font-family: "BPG Nateli Mtavruli";
                  font-size: 20px;
                  font-weight: bold;
                }
                .desc{
                  color: #666666;
                  font-family: "BPG Nateli GPL & GNU";
                  font-size: 15px;
                  font-weight: bold;
                  margin-top: 23px;
                }
                a.more{
                  display: block;
                  margin-top: 30px;
                  color: #327fc9;
                  font-family: "BPG Nateli Mtavruli";
                  font-size: 16px;
                  font-weight: bold;
                  img{
                    margin-right: 10px;
                  }
                }
              }
            }
            .debuleba{
              ul.pdfs{
                width: 670px;
                li{
                  display: flex;
                  margin-bottom: 25px;
                  .title{
                    width: 622px;
                    min-height: 90px;
                    border-radius: 10px;
                    border: 1px solid #cccccc;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    color: #666666;
                    font-family: "Roboto _ GEO Mt";
                    font-size: 16px;
                    font-weight: bold;
                    &::before{
                      content: url("../images/pdf.png");
                      margin-right: 20px;
                    }
                  }
                  .controls{
                    width: 670px - 622px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    a, button{
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 40px;
                      height: 42px;
                      border-radius: 10px;
                      border: 1px solid #cccccc;
                    }
                  }
                }
              }
            }
            .projects{
              padding-right: 50px;
              ul{
                li{
                  position: relative;
                  border: 1px solid #cccccc;
                  border-radius: 5px;
                  padding: 30px;
                  margin-bottom: 20px;
                  &.open{
                    button.close{
                      display: block;
                    }
                    button.more{
                      img{
                        transform: rotate(-180deg);
                      }
                    }
                    .hiddencontent{
                      display: block;
                    }
                  }
                  h2{
                    color: #1e5c97;
                    font-family: "Roboto _ GEO Mt";
                    font-size: 20px;
                    font-weight: bold;
                  }
                  .bene{
                    margin-top: 30px;
                    color: #666666;
                    font-family: "Roboto _ GEO Mt";
                    font-size: 16px;
                    font-weight: bold;
                    img{
                      vertical-align: middle;
                      margin-right: 10px;
                    }
                  }
                  .cync{
                    margin-top: 20px;
                    color: #666666;
                    font-family: "Roboto _ GEO Mt";
                    font-size: 16px;
                    font-weight: bold;
                    img{
                      vertical-align: middle;
                      margin-right: 10px;
                    }
                  }
                  button.close{
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    display: none;
                  }
                  button.more{
                    margin-top: 25px;
                    padding: 0 15px;
                    height: 40px;
                    border-radius: 3px;
                    border: 1px solid #cccccc;
                    color: #999999;
                    font-family: "Roboto _ GEO Mt";
                    font-size: 16px;
                    font-weight: bold;
                    img{
                      margin-left: 10px;
                    }
                  }
                  .hiddencontent{
                    display: none;
                    margin-top: 35px;
                    p{
                      color: #666666;
                      font-family: "Roboto _ GEO Nus";
                      font-size: 14px;
                      font-weight: bold;
                      margin-bottom: 20px;
                    }
                    .resptable{
                      margin-top: 40px;
                      margin-bottom: 20px;
                      width: 100%;
                      overflow: auto;
                      table{
                        min-width: 900px;
                        border-spacing: 3px;
                        text-align: center;
                        th{
                          width: 33.3%;
                          color: #4267b2;
                          font-family: "Roboto _ GEO Mt";
                          font-size: 15px;
                          font-weight: bold;
                          padding:  0 20px;
                        }
                        td{
                          width: 33.3%;
                          padding: 30px;
                          border-radius: 3px;
                          background-color: #f2f2f2;
                          color: #666666;
                          font-family: "Roboto _ GEO Nus";
                          font-size: 14px;
                          font-weight: bold;
                        }
                      }
                    }
                  }
                }
              }
            }
            .leadership{
              ul{
                li{
                  display: flex;
                  margin-bottom: 40px;
                  .pic{
                    width: 215px;
                    height: 215px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                  }
                  .desc{
                    padding-left: 20px;
                    h3{
                      color: #666666;
                      font-family: "Roboto _ GEO Mt";
                      font-size: 16px;
                      font-weight: bold;
                    }
                    h2{
                      margin-top: 20px;
                      color: #1e5c97;
                      font-size: 21px;
                      font-weight: bold;
                      font-family: "Roboto _ GEO Mt";
                    }
                    a.mail{
                      display: block;
                      margin-top: 20px;
                      color: #999999;
                      font-family: "Roboto _ GEO Mt";
                      font-size: 16px;
                      font-weight: bold;
                      img{
                        vertical-align: middle;
                        margin-right: 7px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.contact{
        margin-top: 45px;
        #map2{
          margin-top: 95px;
          width: 100%;
          height: 615px;
          border-top: 30px solid #cecece;
          border-bottom: 30px solid #cecece;
        }
        .wrapper{
          display: flex;
          padding: 0 25px;
          form{
            display: flex;
            flex-wrap: wrap;
            width: 308px + 345px + 271px;
            .fc{
              margin-bottom: 20px;
            }
            label{
              color: #262626;
              font-family: "Roboto _ GEO Nus";
              font-size: 14px;
              font-weight: bold;
              line-height: 38.09px;
              display: block;
            }
            input[type=text]{
              width: 100%;
              height: 44px;
              padding: 0 25px;
              border-radius: 5px;
              border: 1px solid #c8d8e4;
            }
            .l{
              width: 315px;

            }
            button{
              display: block;
              margin-top: 27px;
              height: 54px;
              border-radius: 5px;
              background-color: #1e5c97;
              padding: 0 40px;
              color: #ffffff;
              font-family: "Roboto _ GEO Mt";
              font-size: 16px;
              font-weight: bold;
              line-height: 42px;
              margin-left: auto;
            }
            .r{
              width: calc(100% - 315px);
              padding-left: 40px;
              textarea{
                width: 100%;
                height: 248px;
                border: 1px solid #c8d8e4;
                resize: none;
                border-radius: 5px;
                padding: 25px;
              }
            }
          }
          address{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: calc(100% - 924px);
            padding-top: 40px;
            ul{
              li{
                text-align: center;
                color: #333333;
                font-family: "BPG Nateli Mtavruli";
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 45px;
                &::before{
                  content: '';
                  width: 15px;
                  height: 16px;
                  background-image: url("../images/contacticons.png");
                  display: block;
                  margin: auto;
                  margin-bottom: 10px;
                }
                &.address{
                  &::before{
                    background-position: 0px 0px;
                  }
                }
                &.tell{
                  &::before{
                    background-position: 0px -46px;
                  }
                }
                &.emil{
                  &::before{
                    background-position: 0px -90px;
                  }
                }
              }
            }
            .soc{
              display: flex;
              a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 39px;
                height: 39px;
                border: 1px solid #4494e1;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                &.yt{
                  margin-right: 10px;
                }
                &.fb{

                }
                img{
                }
              }
            }
          }
        }
      }
      &.news{
        header{
          margin-top: 45px;
          display: flex;
          justify-content: space-between;
          padding-bottom: 20px;
          border-bottom: 1px solid #e6e6e6;
          h2{
            color: #327fc9;
            font-family: "BPG Nateli Mtavruli";
            font-size: 26px;
            font-weight: bold;
            img{
            }
          }
          a{
            color: #327fc9;
            font-family: "BPG Nateli Mtavruli";
            font-size: 16px;
            font-weight: bold;
            img{
              margin-right: 5px;
            }
          }
        }
      }
      &.photovideo{
        margin-top: 55px;
        .wrapper{
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          div.video{
            width: 530px;
            position: relative;
            .play{
              position: absolute;
              top: 120px;
              left: 50%;
              transform: translateX(-50%);
            }
            &>img.thumb{
              width: 100%;
              height: 300px;
              object-fit: cover;
              object-position: center center;
            }
            h3{
              margin-top: 20px;
              color: #333333;
              font-family: "BPG Nateli Mtavruli";
              font-size: 18px;
              font-weight: bold;
            }
          }
          .playlist{
            width: 410px;
            ul{
              li{
                cursor: pointer;
                height: 90px;
                border-radius: 3px;
                background-color: #eeeeee;
                margin-bottom: 15px;
                padding: 15px 20px;
                time{
                  color: #327fc9;
                  font-family: "BPG Nateli Mtavruli";
                  font-size: 15px;
                  font-weight: bold;
                }
                img{
                  vertical-align: middle;
                }
                h3{
                  margin-top: 10px;
                  color: #333333;
                  font-family: "BPG Nateli Mtavruli";
                  font-size: 15px;
                  font-weight: bold;
                }
              }
            }
          }
          .links{
            width: 380px;
            a{
              display: flex;
              align-items: center;
              height: 140px;
              border: 1px solid #1ec6ac;
              background-color: #ffffff;
              margin-bottom: 10px;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
              color: #333333;
              font-family: "BPG Nateli Mtavruli";
              font-size: 22px;
              font-weight: bold;
              padding-left: 45px;
              &.photo{
                border-right: 14px solid #1ec6ac;
                margin-bottom: 20px;
              }
              &.video{
                border-color: #e3c01f;
                border-right: 14px solid #e3c01f;
                margin-bottom: 0;
              }
              img{
                margin-right: 20px;
              }
            }
          }
        }
      }
      &.camps{
        margin-top: 45px;
        header{
          h2{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #333333;
            font-family: "BPG Nateli Mtavruli";
            font-size: 26px;
            font-weight: bold;
            img{
              margin-right: 10px;
            }
          }
          a{
          }
        }
        .cont{
          margin-top: 30px;
          display: flex;
          justify-content: space-between;
          a{
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 211px;
            height: 90px;
            border-radius: 4px;
            border: 1px solid #4494e1;
            background-color: #ffffff;
            border-right: 14px solid  #4494e1;
            color: #333333;
            font-family: "BPG Nateli Mtavruli";
            font-size: 24px;
            font-weight: bold;
            span{
              position: relative;
              z-index: 2;
            }
            span.number{
              position: absolute;
              left: -10px;
              color: #f5f1f1;
              font-family: "BPG Nateli Mtavruli";
              font-size: 67px;
              font-weight: bold;
              z-index: 0;
            }
          }
        }
      }
      &.programs{
        margin-top: 80px;
        header{
          h2{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #333333;
            font-family: "BPG Nateli Mtavruli";
            font-size: 26px;
            font-weight: bold;
            img{
              margin-right: 10px;
            }
          }
          a{
          }
        }
        .cont{
          margin-top: 25px;
          display: flex;
          a{
            display: flex;
            align-items: center;
            width: 265px;
            height: 90px;
            border-radius: 4px;
            border: 1px solid #a2cd3d;
            background-color: #ffffff;
            border-right: 14px solid  #a2cd3d;
            color: #333333;
            font-family: "BPG Nateli Mtavruli";
            font-size: 20px;
            font-weight: bold;
            padding: 0 25px;
            margin-right: (1370px - (265px * 5)) / 4;
            &:nth-child(5n + 5){
              margin-right: 0;
            }
          }
        }
        .more{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: auto;
          margin-top: 30px;
          color: #a2cd3d;
          font-family: "BPG Nateli Mtavruli";
          font-size: 16px;
          font-weight: bold;
          img{
            margin-right: 10px;
          }
        }
      }
      div{
        &.wrapper{

        }

        div{
          &.content{
            border-bottom: 1px solid #e6e6e6;
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 30px;
            article{
              width: 320px;
              div{
                &.pic{
                  width: 100%;
                  height: 251px;
                  background-repeat: no-repeat;
                  background-size: cover;
                }
                &.desc{
                  margin-top: 20px;
                  color: #666666;
                  font-family: "BPG Nateli GPL & GNU";
                  font-size: 15px;
                  font-weight: bold;
                }
              }
              time{
                display: block;
                color: #666666;
                font-family: "BPG Nateli Mtavruli";
                font-size: 16px;
                font-weight: bold;
                margin-top: 18px;
                img{
                  margin-right: 10px;
                }
              }
              h2{
                margin-top: 20px;
                color: #333333;
                font-family: "BPG Nateli Mtavruli";
                font-size: 20px;
                font-weight: bold;
              }
              a{
                display: block;
                margin-top: 30px;
                color: #327fc9;
                font-family: "BPG Nateli Mtavruli";
                font-size: 16px;
                font-weight: bold;
                img{
                  margin-right: 10px;
                }
              }
            }
          }

          a{
            span{
            }
          }
        }
        a{
          &.more{

          }
          img{
          }
        }
      }
    }
  }
  footer{
    margin-top: 40px;
    div{
      &.partners{
        width: 100%;
        height: 220px;
        background-color: #f2f2f2;
        .wrapper{
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 100%;
        }
      }
      &.mid{
        margin-top: 20px;
        &>header{
          width: 100%;
          height: 66px;
          background-color: #dde9f5;
          .wrapper{
            display: flex;
            justify-content: space-between;
          }
        }
      }
      div{

        &.body{
          width: 100%;
          background-color: #d1e1f0;
          padding: 20px 0;
          .wrapper{
            display: flex;
            justify-content: space-between;
          }
        }
        &.bot{
          width: 100%;
          height: 90px;
          background-color: #094278;
          .wrapper{
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a{
              display: flex;
              align-items: center;
              padding: 0 25px;
              height: 49px;
              border: 1px solid #4494e1;
              color: #ffffff;
              font-family: "BPG Nateli Mtavruli";
              font-size: 18px;
              font-weight: bold;
            }
            span{
              color: #ffffff;
              font-family: "Roboto _ GEO Mt";
              font-size: 14px;
              font-weight: 400;
              line-height: 41px;
            }
          }
        }
        button{
          &.prevpartner{

          }
          &.nextpartner{

          }
          img{

          }
        }
        div{
          &.owl-carousel{
            width: calc(100% - 120px);
            height: 100%;
            .owl-stage-outer{
              height: 100%;
              .owl-stage{
                height: inherit;
                .owl-item{
                  height: inherit;
                }
              }
            }
          }
          &.wrapper{

          }
          div{
            &.item{
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              &:hover{
                img{
                  filter: grayscale(0%);
                }
              }
              img{
                filter: grayscale(100%);
              }
            }
            &.events{
              width: 505px;
            }
            &.contact{
              width: 330px;
            }
            &.findonmap{
              width: 535px;
            }
            a{
              img{
                width: auto!important;
                max-width: 250px;
              }
            }
            div{
              &.soc{
                margin-top: 35px;
                display: flex;
                a{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 39px;
                  height: 39px;
                  border: 1px solid #4494e1;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  &.yt{
                    margin-right: 10px;
                  }
                  &.fb{

                  }
                  img{
                  }
                }
              }
              &#eventcalendar{
                header{
                  display: none;
                }
                table{
                  border-spacing: 1px;
                  thead{
                    color: #666666;
                    font-family: "BPG Nateli Mtavruli";
                    font-size: 15px;
                    font-weight: bold;
                    td{
                      text-align: center;
                    }
                  }
                  tbody{
                    td{
                      text-align: center;
                      width: 49px;
                      height: 49px;
                      background-color: #b2cde6;
                      color: #104a81;
                      font-family: Roboto;
                      font-size: 20px;
                      font-weight: bold;
                      &.jsCalendar-previous{
                        font-size: 0;
                      }
                      .wrong-month{
                        display: none;
                      }
                      &:nth-child(6){
                        background-color: #97bddf;
                      }
                      &:nth-child(7){
                        background-color: #97bddf;
                      }
                    }
                  }
                }
              }
              &#map{
                width: 100%;
                height: 100%;
              }

            }
            ul{
              li{
                color: #333333;
                font-family: "BPG Nateli Mtavruli";
                font-size: 16px;
                font-weight: 400;
                line-height: 46px;
                &::before{
                  content: '';
                  width: 15px;
                  height: 16px;
                  background-image: url("../images/contacticons.png");
                  display: inline-block;
                  margin-right: 10px;
                }
                &.address{
                  &::before{
                    background-position: 0px 0px;
                  }
                }
                &.tell{
                  &::before{
                    background-position: 0px -46px;
                  }
                }
                &.emil{
                  &::before{
                    background-position: 0px -90px;
                  }
                }
                img{
                }
                a{
                }
              }
            }
          }
          a{
          }
          span{
          }
        }
      }
      header{

        div{
          &.wrapper{
            height: 100%;
          }
          div{
            display: flex;
            align-items: center;
            &.events{
              width: 505px;
              &::before{
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                background-color: #4494e1;
                margin-right: 9px;
              }
            }
            &.contact{
              width: 330px;
              &::before{
                content: '';
                display: block;
                width: 15px;
                height: 15px;
                background-color: #4494e1;
                margin-right: 9px;
              }
            }
            &.findonmap{
              width: 535px;
            }
            h2{
              display: flex;
              align-items: center;
              color: #094278;
              font-family: "BPG Nateli Mtavruli";
              font-size: 20px;
              font-weight: bold;
              img{
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
