-var menu = [{name: 'მთავარი', link: ''},{name: 'ცენტრის შესახებ', link: ''},{name: 'სიახლეები', link: ''},{name: 'პროექტები', link: ''},{name: 'მულტიმედია', link: ''},{name: 'საჯარო ინფორმაცია', link: ''},{name: 'ბავშვთა უფლებები', link: ''},{name: 'კონტაქტი', link: ''}];

doctype
html
    head
        title asd
        meta(charset="utf-8")
        link(rel="stylesheet" href="css/owl.carousel.min.css")
        link(rel="stylesheet" href="css/main.css")
    body
        header
            .wrapper
                .top
                    .shshm
                        .contrast
                            | კონტრასტი
                            ul
                                li#contrast1
                                    img(src="images/contrast1.png")
                                li#contrast2
                                    img(src="images/contrast2.png")
                                li#contrast3
                                    img(src="images/contrast3.png")
                                li#contrast4
                                    img(src="images/contrast4.png")
                                li#contrast5
                                    img(src="images/contrast5.png")
                        .layout
                            | განლაგება
                            ul
                                li#scale
                                    img(src="images/scale.png")
                                li#shrink
                                    img(src="images/shrink.png")
                        .font
                            | შრიფტი
                            ul
                                li#increase
                                    img(src="images/zoomin.png")
                                li#normal
                                    img(src="images/normal.png")
                                li#decrease
                                    img(src="images/zoomout.png")
                    .lang
                        a(href="" class="active")
                            img(src="images/georgia.png")
                            | ქართული
                        a(href="")
                            img(src="images/united-kingdom.png")
                            | ENGLISH
                .mid
                    a.logo(href="index.html")
                        img(src="images/logo.png" alt="logo")
                    form
                        input(type="text" placeholder="ძიება")
                        button
                            img(src="images/srch.png")
            nav
                .wrapper
                    ul
                        each item in menu
                            li
                                a(href=item.link)=item.name
        main
            block content

        footer
            include ./partners.pug
            .mid
                header
                    .wrapper
                        .events
                            h2 ღონისძიებები - მაისი 2018
                        .contact
                            h2 კონტაქტი
                        .findonmap
                            h2 <img src="images/googlemap.png"> გვიპოვეთ Google რუკაზე
                .body
                    .wrapper
                        .events
                            #eventcalendar
                        .contact
                            ul
                                li.address
                                    | ქ.თბილისი, ვაჟა-ფშაველას გამზ. 76 ბ
                                li.tell
                                    | +995 32 2 30 22 53
                                li.emil
                                    a(href="mailto: contact@cync.ge") Contact@cync.ge
                            .soc
                                a(href="" target="_blank" class="yt")
                                    img(src="images/youtube.png")
                                a(href="" target="_blank" class="fb")
                                    img(src="images/fb.png")
                        .findonmap
                            #map
                .bot
                    .wrapper
                        a(href="" target="_blank") ვებ-გვერდის ძველი ვერსია - 2007
                        span ყველა უფლება დაცულია &copy; 2018

        script(src="js/jquery-3.3.1.min.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/jquery.simple-calendar.min.js")
        script(src="js/main.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC19mKw2GLaSiu51XX_BC6Mswbcv85FT6k&callback=initMap" async defer)