extends layout.pug

block content
    -var breadcrumbs = ["სიახლეები"]
    include breadcrumbs.pug
    section.page
        .wrapper
            .newsinner
                a.back(href="news.html") <img src="images/backtoarchive.png"> არქივში დაბრუნება
                .newscontent
                    .newsgallery
                        .mainslide
                            button.openlighgallery
                                img(src="images/magnifier.png")
                        ul#newsslider
                            li(data-img="images/layer-12.png")
                                img(src="images/layer-12.png")
                            li(data-img="images/layer-13.png")
                                img(src="images/layer-13.png")
                            li(data-img="images/layer-11.png")
                                img(src="images/layer-11.png")
                            li(data-img="https://img.youtube.com/vi/VX0Bu_klgvo/0.jpg")
                                img(src="https://img.youtube.com/vi/VX0Bu_klgvo/0.jpg")
                        a.fbshare <img src="images/fbshare.png"> გაზიარება
                    .textcontent
                        time <img src="images/calendar2.png"> 14 მაისი, 2018
                        h2 ურთიერთთანამშრომლობის მემორანდუმი
                        .text
                            p 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის.
                            p 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის.

                            p 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის.

                            p 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის.

                            p 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის. 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის.
                section.othernews
                    h2 სხვა სიახლეები
                    .othernewscont
                        -for(i=0; i<4; i++)
                            .n
                                .img(style="background-image: url('images/layer-10.png')")
                                time <img src="images/calendar2.png"> 14 მაისი, 2018
                                h3 ურთიერთთანამშრომლობის მემორანდუმი
                                .desc 3 აპრილს საქართველოს განათლებისა და მეცნიერების სამინისტროს სსიპ „ბავშვთა და ახალგაზრდობის ეროვნულ ცენტრსა“და საქართველოს პრემიერ-მინისტრის ...
                                a(href="newsinner.html" class="more") <img src="images/more2.png"> ვრცლად