extends layout.pug

block content
    -var breadcrumbs = ["მთავარი","პროექტები"]
    include breadcrumbs.pug
    section.page
        .wrapper
            -var sidebarMenu = [{name: 'მიმდინარე პროექტები', link: ''},{name: '2017 წლის პროექტები', link: ''},{name: '2016 წლის პროექტები', link: ''}]
            include sidebarmenu.pug
            .pagecontent
                .projects
                    ul
                        -for(j=0; j<3; j++)
                            li
                                h2 #{j+1}. პროექტი – გამაჯანსაღებელი დარბაზი შშმ პირთათვის
                                .bene <img src="images/beneficiarebi.png"> 14 - 29 წლის 150 ბენეფიციარი
                                .cync <img src="images/pin.png"> თბილისი,  ,,ბავშვთა და ახალგაზრდობის ეროვნული ცენტრი“.
                                button.close <img src="images/projectclose.png">
                                .hiddencontent
                                    p პროექტის მიზანია ჯანსაღი ცხოვრების წესის პროპაგანდა და დანერგვა, ასევე ქართული საბრძოლო ხელოვნების (ხრიდოლი) პოპულარიზება მოწყვლადი ჯგუფების წარმომადგენელ მოზარდებს შორის.
                                    p აღნიშნული პროექტი  განხორციელდება ინკლუზიური პრინციპების დაცვით ცენტრში არსებული ინფრასტუქტურის ბაზაზე. პროექტის მონაწილეები, რომლებიც გამოირჩევიან ტურნირებში გამარჯვებებით, საჩვენებელ    შეჯიბრებებს გამართავენ ,,მომავლის ბანაკში“,  რითიც პოპულარიზაციას გაუწევენ სპორტის აღნიშნულ სახეობებს და ამ სერვისს ცენტრის ბაზაზე.
                                    .resptable
                                        table
                                            thead
                                                tr
                                                    th აღწერილობით ნაწილ/შედეგების ჯაჭვი
                                                    th ობიექტურად გადასამოწმებელი ინდიკატორები
                                                    th გადამოწმების გზები
                                            tbody
                                                -for(i=0; i<3; i++)
                                                    tr
                                                        td გაზრდილია ბენეფიციარების ჩართულობის დონე სპორტულ აქტივობებში
                                                        td ბენეფიციართა ჩართულობა და მიღწეული შედეგები ადგილობრივ და საერთაშორისო ტურნირებზე
                                                        td ტურნირებში წარმატებები მაჩვენებელი <br> წინა შედეგის გაუმჯობესების მაჩვენებელი
                                button.more(data-textopen="გაიგე მეტი" data-textclose="დახურვა") <span>გაიგე მეტი</span> <img src="images/projectdropdown.png">