aside.news
    div.active
        h4 2018 წელი
        ul
            li
                a(href="") ივნისი
            li
                a(href="") მაისი
            li
                a(href="") აპრილი
            li
                a(href="") მარტი
            li
                a(href="") თებერვალი
    div
        h4 2017 წელი
        ul
            li
                a(href="") ივნისი
            li
                a(href="") მაისი
            li
                a(href="") აპრილი
            li
                a(href="") მარტი
            li
                a(href="") თებერვალი
    div
        h4 2016 წელი
        ul
            li
                a(href="") ივნისი
            li
                a(href="") მაისი
            li
                a(href="") აპრილი
            li
                a(href="") მარტი
            li
                a(href="") თებერვალი