extends layout.pug

block content
    -var breadcrumbs = ["ცენტრის შესახებ","დებულება"]
    include breadcrumbs.pug
    section.page
        .wrapper
            -var sidebarMenu = [{name: 'დებულება', link: 'debuleba.html'},{name: 'სტრუქტურა', link: 'struqture.html'},{name: 'ხელმძღვანელობა', link: 'menegment.html'},{name: 'მიზნები და ამოცანები', link: 'tasks.html'}]
            include sidebarmenu.pug
            .pagecontent